*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-container-height: 960px;
    --grid-container-width: 960px;
}

body {
    height: 100vh;
}

section {
    width: var(--grid-container-width);
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    height: var(--grid-container-height);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

div:hover {
    background-color: black;
}